page-chat {
    .content-md {
        background: rgb(237, 224, 109);
        background: -moz-linear-gradient(-45deg, rgba(237, 224, 109, 1) 0%, rgba(157, 213, 58, 1) 33%, rgba(15, 252, 208, 1) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(237, 224, 109, 1) 0%, rgba(157, 213, 58, 1) 33%, rgba(15, 252, 208, 1) 100%);
        background: linear-gradient(135deg, rgba(237, 224, 109, 1) 0%, rgba(157, 213, 58, 1) 33%, rgba(15, 252, 208, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede06d', endColorstr='#0ffcd0', GradientType=1);
    }
    .toolbar-background {
        background: rgb(237, 224, 109);
        background: -moz-linear-gradient(-45deg, rgba(237, 224, 109, 1) 0%, rgba(157, 213, 58, 1) 33%, rgba(15, 252, 208, 1) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(237, 224, 109, 1) 0%, rgba(157, 213, 58, 1) 33%, rgba(15, 252, 208, 1) 100%);
        background: linear-gradient(135deg, rgba(237, 224, 109, 1) 0%, rgba(157, 213, 58, 1) 33%, rgba(15, 252, 208, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede06d', endColorstr='#0ffcd0', GradientType=1);
    }
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }
    .card .note-md {
        color: #b00000;
    }
    ion-fab[bottom] {
        bottom: 5px;
    }
    ion-fab[right] {
        right: 5px;
        right: calc(10px + constant(safe-area-inset-right));
        right: calc(10px + env(safe-area-inset-right));
    }
    .fab {
        text-align: center;
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 50%;
        position: relative;
        z-index: 0;
        display: block;
        overflow: hidden;
        width: 46px;
        height: 46px;
        font-size: 14px;
        line-height: 46px;
        text-overflow: ellipsis;
        text-transform: none;
        white-space: nowrap;
        cursor: pointer;
        -webkit-transition: background-color, opacity 100ms linear;
        transition: background-color, opacity 100ms linear;
        background-clip: padding-box;
        -webkit-font-kerning: none;
        font-kerning: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        contain: strict;
    }
    .item-md {
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: rgba(255, 255, 255, 0.589);
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 5px;
    }
    item-md item-input {
        background-color: white;
    }
    .footer .footer-md>.item-md {
        background-color: white;
    }
    .col>.item .item-block .item-md .item-input {
        background-color: white;
    }
    .card-md {
        margin: 10px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem; // background: rgba(240, 195, 111, 0.562);
        background: rgba(111, 193, 240, 0.548);
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        border-radius: 15px;
    }
    .scroll-content {
        background-color: antiquewhite;
        background-image: url('../assets/imgs/background.jpg');
    }
    .segment-md .segment-button:first-of-type {
        border-top-left-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 4px;
        margin-right: 0;
    }
    .segment-md .segment-button:last-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 0;
        margin-left: 0;
        border-left-width: 0;
    }
    .segment-button {
        border-width: 1px;
        border-style: solid;
        border-color: #488aff; // height: 2.6rem;
        // font-size: 1.2rem;
        // line-height: 2.5rem;
    }
    .segment-md .segment-button {
        border-bottom-color: #488aff;
    }
    .toolbar .segment-button {
        height: 2.6rem;
        font-size: 1.2rem;
        line-height: 2.5rem;
    } // .card-md{
    //     border-radius:15px;
    // }
}
