<ion-content padding>
    <ion-card id="card-login">
        <ion-card-header>
            <login-register-tabs (onTabChange)="tabChange($event)"></login-register-tabs>
        </ion-card-header>

        <ion-card-content>
            <div *ngIf="isLoginActive">
                <login-form [user]="registerCredentials" (onSubmit)="login()"></login-form>
            </div>
            <ion-list *ngIf="!isLoginActive">
                <register-form [user]="registerCredentials"  (onSubmit)="EmailPasswordRegister()"></register-form>
            </ion-list>
            <div>
                <ion-item-divider></ion-item-divider>
                <button ion-button icon-only (click)="loginWithGithub()">
                    <ion-icon name="logo-github"></ion-icon>
                </button>
                <button ion-button icon-only (click)="loginWithGoogle()">
                    <ion-icon name="logo-googleplus"></ion-icon>
                </button>
                <button ion-button icon-only>
                    <ion-icon name="logo-facebook"></ion-icon>
                </button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>